body {
  background-color: rgb(84, 212, 221); /* Adiciona cinza */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #ffffff;
  background-color: rgb(24, 109, 134);
  border-radius: 15px;
  text-align: center;
  margin: auto;
  width: 100%;
  border: 3px solid rgb(134, 193, 214);
  padding: 5px;
}

p {
  text-align: center;
}

.bloco {
  background-color: rgb(102, 170, 182);
  text-align: center;
  padding: 20px;
  margin: 5px;
}

h2,
h3,
h4,
h5,
h6 {
  color: #5a4d4d;
  opacity: 75%;
  margin: 5px;
  background-color: rgb(133, 231, 226);
  width: 100%;
  text-align: left;
  border: 3px;
  padding: 5px;
}

img {
  width: 50%;

}

#git {
  width: 50%;
  
}

.textovermelho {
  color: red;
}